@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_light-webfont.woff2") format("woff2"), url("../fonts/bebasneue_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_thin-webfont.woff2") format("woff2"), url("../fonts/bebasneue_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Themify';
  src: url("../fonts/themify.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^="ti-"], [class*=" ti-"] {
  font-family: 'Themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-paint-bucket:before {
  content: "\e61f";
}

.ti-palette:before {
  content: "\e6e0";
}

.ti-hummer:before {
  content: "\e69a";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
button, input[type=button], input[type=submit] {
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  cursor: pointer;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  height: auto;
  background-color: #9789f9;
}

main {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
}
.pricing__col {
  width: 330px;
}
.pricing__col--center {
  width: 370px;
}

.tooltip {
  display: block;
  min-width: 100px;
  padding: 7px 25px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3b4040;
  border: 1px solid #3b4040;
  border-radius: 20px;
  visibility: hidden;
}
.tooltip:before {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 5px 6.5px 0;
  border-color: transparent #3b4040 transparent transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -4px;
}

.bubble {
  display: block;
  content: "P";
  width: 46px;
  height: 46px;
  background-color: #fd8d7b;
  border-radius: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 46px;
  outline: none;
}
.bubble:focus + .tooltip, .bubble:hover + .tooltip {
  visibility: visible;
}
.bubble:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fd8d7b;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -7px;
}
.bubble:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fd8d7b;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -11px;
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 15px 45px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.08em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #6fcffb;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  -webkit-box-shadow: 2px 4px 18px 0px #6fcffb;
          box-shadow: 2px 4px 18px 0px #6fcffb;
  text-transform: uppercase;
  color: #ffffff;
}
.btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #6fcffb;
          box-shadow: 0 0 10px #6fcffb;
  color: #6fcffb;
}
.btn:focus {
  border-color: #0caef8;
}
.btn:active {
  border-color: #0caef8;
  background-color: #3dbefa;
  color: #ffffff;
}
.btn--secondary {
  background-color: #fd8d7b;
  -webkit-box-shadow: 2px 4px 18px 0px #fd8d7b;
          box-shadow: 2px 4px 18px 0px #fd8d7b;
}
.btn--secondary:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #fd8d7b;
          box-shadow: 0 0 10px #fd8d7b;
  color: #fd8d7b;
}
.btn--secondary:focus {
  border-color: #fb3617;
}
.btn--secondary:active {
  border-color: #fb3617;
  background-color: #fc6249;
  color: #ffffff;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 610px;
  position: relative;
  text-align: center;
  background-color: #f5f4f9;
  -webkit-box-shadow: 2px 4px 59px 0px #9789f9;
          box-shadow: 2px 4px 59px 0px #9789f9;
}
.price--center {
  min-height: 690px;
  padding-top: 15px;
}
.price__header {
  padding-top: 35px;
  position: relative;
}
.price__bubble {
  position: absolute;
  top: 20px;
  right: 20px;
}
.price__tooltip {
  position: absolute;
  top: 30px;
  right: -90px;
  z-index: 1;
}
.price__rate {
  display: inline-block;
  padding-left: 15px;
  padding-right: 25px;
  margin-bottom: 15px;
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.price__rate:before {
  content: "$";
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 7px;
  left: 7%;
}
.price__rate:after {
  content: "/HR";
  display: inline-block;
  font-size: 16px;
  position: absolute;
  bottom: 7px;
  right: 0;
}
.price__position {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.price__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  padding-bottom: 60px;
  border-radius: 300px 300px 0 0 / 150px 150px 0 0;
}
.price__icon {
  display: block;
  font-size: 30px;
  margin-bottom: 36px;
}
.price__icon--center {
  margin-bottom: 46px;
}
.price__list {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.price__item {
  text-align: left;
}
.price__item:not(:last-child) {
  margin-bottom: 29px;
}
.price__footer {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.price__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.price__btn--secondary {
  bottom: 100%;
}
.price__footer-text {
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #a9a9a9;
}

/*# sourceMappingURL=main.css.map */