$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Bebas Neue', sans-serif;
$font-size-base: 16px;
$line-height: 1.5;
$color-primary: #181818;
$color-secondary: #9789f9;
$color-3: #ffffff;
$color-4: #6fcffb;
$color-5: #fd8d7b;
$color-6: #f5f4f9;
$color-7: #a9a9a9;
$color-8: #3b4040;


