$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Bebas Neue', cursive;
$font-size-base: 16px;
$line-height: 1.5;
$color-primary: #181818;
$color-secondary: #9789f9;
$color-3: #ffffff;
